/*.root {
    -fx-background-color: cornsilk; 
    -fx-padding: 10;
    -fx-text-fill: #000000;
  }
  
  .context-menu {
    -fx-background-color: #006699;
    -fx-text-fill: white;
  }
  
  .menu-item .label {
    -fx-text-fill: yellow;
  }
  
  .menu-item:focused .label {
    -fx-text-fill: rgb(29, 47, 139);
  }
*/
.context-menu {
    -fx-skin: "javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: #6e8e9f;
        background-color: #6e8e9f;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; 
        padding: 0.333333em 0.083333em 0.666667em 0.083333em;
    -fx-font-weight: bold;
        font-weight: bold;
}

.context-menu .separator {
    -fx-padding: 0.0em 0.333333em 0.0em 0.333333em;
        padding: 0.0em 0.333333em 0.0em 0.333333em;
}

.context-menu .scroll-arrow {
    -fx-padding: 0.416667em 0.416667em 0.416667em 0.416667em;
        padding: 0.416667em 0.416667em 0.416667em 0.416667em;
    -fx-background-color: #577e91;
        background-color: #577e91;
}

.context-menu .scroll-arrow:hover {
    -fx-background: -fx-accent;
        background: -fx-accent;
    -fx-background-color: #5f889c;
        background-color: #5f889c;
    -fx-text-fill: -fx-selection-bar-text;
}

.context-menu:show-mnemonics .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
        stroke: -fx-text-fill;
}
/*Custom buttons*/
#green {
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}
#green:hover {
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #c9e489 45%, #99d138 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #0a1002;
}
#green:pressed {
    -fx-background-color:
        linear-gradient(#9aff00, #6aff00),
        radial-gradient(center 50% -40%, radius 150%, #80ff4f 45%, #55c300 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 1, 2;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}
#blue {
    -fx-background-color:
        linear-gradient(#3574cc, #0077ff),
        radial-gradient(center 50% -40%, radius 200%, #89baff 45%, #1971ed 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #000000;
}
#blue:hover {
    -fx-background-color:
        linear-gradient(#35a4ff, #006eff),
        radial-gradient(center 50% -40%, radius 200%, #3589ff 45%, #3589ff 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #010a0a;
}
#blue:pressed {
    -fx-background-color:
        linear-gradient(#003cff, #001eff),
        radial-gradient(center 50% -40%, radius 150%, #3589ff 45%, #3589ff 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 1, 2;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #000000;
}
/*background color*/
#bluebg {
    -fx-background-color:
        #dddee7,
        #383b52,
        linear-gradient(#92a9fa, #b2c2fb),
        linear-gradient(#6e8dfd, #92a9fa);
    -fx-background-insets:
        0 0 -1 0, 0, 1, 2;

}

/* TableView */
.table-view {
    -fx-background-color: transparent;
        background-color: transparent;
    -fx-text-fill: #000000;
}
.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
        background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
        padding: 0 0 5px 0;
}
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
        background-color: transparent;
}
.table-view .corner {
    -fx-background-color: transparent;
        background-color: transparent;
}
.table-view .column-header {
    -fx-background-color: transparent;
        background-color: transparent;
}
.table-view .column-header-text {
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
        font-weight: bold;
    -fx-font-size: 14px;
        font-size: 14px;
    -fx-padding: 0 0 5px 0;
        padding: 0 0 5px 0;
}
.table-view .table-cell {
    -fx-border-color: transparent;
        border-color: transparent;
    -fx-padding: 2 0 2 10px;
        padding: 2 0 2 10px;
}
.table-row-cell:hover {
    -fx-background-color: #93f9b911;
        background-color: #93f9b911;
    -fx-text-background-color: rgb(0, 132, 255);
}
/*.table-row-cell:selected {
    -fx-background-color: steelblue; 
        background-color: steelblue;
 }*/
 .table-row-cell:selected .text {
        -fx-fill: rgba(2, 116, 222, 0.902);
            fill:rgba(2, 116, 222, 0.902);
 }
.table-row-cell:odd {
    -fx-background-color: #93f9b911;
        background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
        padding: 0.0em;
}
.table-row-cell:even {
    -fx-background-color: #1dbbdd11;
        background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
        padding: 0.0em;
}
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
        background-color: transparent;
}
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
        opacity: 0;
    -fx-padding: 2;
        padding: 2;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
        background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: linear-gradient(to right, #1dbbdd44, #93f9b944);
        background-color: linear-gradient(to right, #1dbbdd44, #93f9b944);
}